/venv
api/app.pyc
api/routes.pyc
/migrations/env.pyc
/migrations/versions/48827d58a2e7_.pyc
config.pyc
models/tables.pyc
scripts/migrate.pyc
scripts/allsingletypes.pyc
tests/scripts/populatetest.pyc
urlcrawler.py
scripts/urlcrawler.pyc
scripts/jsoncards.pyc
scripts/indentedcards.json
tests/scripts/__init__.pyc
tests/demo.json
tests/tests.pyc
__init__.pyc